.advantages {
    --margin-left: 100px;
    --margin-left-number: 15px;

    &__inner {
        background-color: var(--color-dark-alt);
        color: var(--color-light);
    }

    &__section {
        padding-block: var(--section-padding-y);

        &-wrap {
            display: flex;
            flex-direction: column;
            row-gap: 60px;

            @include tablet {
                row-gap: 80px;
            }
        }
    }

    &__card {

        &-list {
            display: flex;
            align-items: start;
            justify-content: space-between;
            column-gap: 30px;

            @include tablet {
                flex-wrap: wrap;
                justify-content: center;
              
                row-gap: 60px;
            }

           
        }

        &-item {
            max-width: 350px;
        }
        
    }

    &__button {
        display: flex;
        align-self: center;
        justify-content: center;
    }

    &__title {
        justify-content: start;
    }
}