.case {
    &__inner {
        background-color: var(--color-light);
        clip-path: polygon(0 0, 100% 0, 100% 97%, 50% 100%, 0 97%);
        padding-bottom: 80px;
        overflow: visible;
    }


    &__title {
        color: var(--color-dark);
    }

    &__post {
        display: flex;
        flex-direction: column;
    }
}