.post {
    padding: 0 40px 85px 40px;
    color: var(--color-light);



    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 25px;
        min-height: 600px;
    }

    &__item {
        position: relative;
        padding: 25px 60px;
        box-shadow: 0 0px 3px 2px var(--color-grey-alt);
        background-image: url(../../img/background_card_3.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 1;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--color-dark-alt);
            z-index: -1;
            opacity: 0.6;
        }

        @include tablet {
            padding: 20px 40px;
        }
    }

    &__button {
        align-self: flex-end;
    }
}