.post {
    padding: 40px 0;
    color: var(--color-dark);

    @include mobile {
        padding: 40px 0;
    }


    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 55px;
        column-gap: 20px;
    
        @include tablet {
           
        }
    }

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--color-light);
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.4);
        border-radius: var(--border-radius);
        overflow: hidden;

        @include tablet-above {
            column-gap: 20px;
        }

        @include mobile {
            flex-direction: column;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-shrink: 1.5;
        padding: 80px 60px;
        row-gap: 60px;
        min-width: 660px;
        max-width: 660px;

        @include tablet {
            min-width: 400px;
            max-width: 400px;
            row-gap: 40px;
            padding: 60px 40px;
        }

        @include mobile {
            font-size: 12px;
            min-width: 200px;
            row-gap: 20px;
            padding: 40px 30px;
        }
        

        &-wrapper {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }
    }

    &__discription {
        text-align: start;
    }


    &__more {
        display: flex;
        align-self: start;
        column-gap: 10px;

        font-size: 20px;
        font-weight: 700;
        transition-duration: var(--transition-duration);

        @include mobile {
            font-size: 14px;
        }

        @include hover {
            text-decoration: underline;

            svg {
                transform: scale(1.1);
            }
        }
        

        &-content {
            align-self: center;
        }

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                color: var(--color-accent);
            }
        }
        
    }


    &__photo {
        display: block;
        position: relative;
        width: 100%;
        background-color: var(--color-dark);

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background-color: var(--color-dark);
            opacity: 0.2;
            z-index: 3;
        }
        
        &-image {

            &-first {
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-image: url(../../img/case_1.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    z-index: 2;
                }
            }
            &-second {
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-image: url(../../img/case_2.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    z-index: 2;
                }
            }
            &-thirth {
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-image: url(../../img/case_3.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    z-index: 2;
                }
            }
            &-fourth {
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-image: url(../../img/case_4.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    z-index: 2;
                }
            }
            
        }
    }


    

    &__title {
        text-align: start;
    }
   

    &__button {
        align-self: flex-end;
    }
}